@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<h3>What we're doing with your data</h3>
<p>On this website, we'll use the data you have provided us when applying for job (name, surname, CV and similar data) for purposes of 
    recruitment. We'll also collect basic browser data for purposes of simple analytics. To do so, we'll place a small piece of data
    called a 'cookie' to remember that it's your browser that visits this website. </p>